<% packages = local_assigns.fetch(:packages) %>

<table class="w-full">
  <thead>
    <tr class="bg-indigo-600 text-white">
      <%= sortable t('published_at'), :published_at, class: 'w-36 text-center py-4 px-3' %>
      <%= sortable t('name'), :name, class: 'w-72 text-center py-4 px-3' %>
      <%= sortable t('authors'), :authors, class: 'w-52 text-center py-4 px-3' %>
      <th class="w-52 text-center py-4 px-3"><%= t('tags') %></th>
      <% if admin? %>
        <th class="w-52 text-center py-4 px-3">Cats</th>
      <% end %>
      <th class="w-44 text-center py-4 px-3"><%= t('questions') %></th>
      <th class="w-32 text-center py-4 px-3"><%= t('download') %></th>
    </tr>
  </thead>
  <tbody>
    <% packages.each do |package| %>
    <tr class="bg-indigo-200 hover:bg-indigo-300 text-black">
      <td class="py-4 text-center">
        <%= l package.published_at.to_date %>
      </td>
      <td class="text-center">
        <%= package_link package, class: 'font-bold' %>
      </td>
      <td class="text-center">
        <% if package.authors.present? %>
          <%= safe_join(package.authors.map { |a| author_link a, class: 'font-bold' }, ', ') %>
        <% end %>
      </td>
      <td class="text-center">
        <% if package.tags.present? %>
          <%= safe_join(package.tags.reject(&:empty?).map { |t| tag_link t, class: 'font-bold' }, ', ') %>
        <% end %>
      </td>
      <% if admin? %>
        <td><%= package.category_scores.sort_by(&:last).reverse.map { |k, v| "#{k}#{v.round(2)}"}.join(' ') %></td>
      <% end %>
      <td>
        <div class="w-full h-6">
          <% if package.question_distribution.present? %>
            <%= distribution(package.question_distribution) %>
          <% end %>
        </div>
      </td>
      <td class="text-center">
        <a
          class="<%= button_class %>"
          href="<%= package.source_link %>"
        >
          <%= t('link') %>
        </a>
      </td>
    </tr>
    <% end %>
  </tbody>
</table>
<div class="mt-4">
  <%= paginate @packages %>
</div>
