<div class="w-full h-full border-solid border border-indigo-200 bg-indigo-50 p-2 flex flex-col">
  <h2 class="py-1">
    <% (@package.authors || []).each do |author| %>
      <span class="pr-2">
        <%= render AuthorLinkComponent.new(author: author) %>
      </span>
    <% end %>
    <%= time_tag @package.published_at.to_date, class: 'inline-block' %>
  </h2>

  <h1 class="text-xl font-bold">
    <%= link_to @package.name, @package %>
  </h1>

  <div class="pt-2">
    <% (@package.tags || []).each do |tag| %>
      <%= render TagLinkComponent.new(tag: tag) %>
    <% end %>
    <% (@package.categories || []).sort_by(&:last).reverse.each do |category| %>
      <%= render CategoryLinkComponent.new(category: category) %>
    <% end %>
  </div>

  <% if @package.post_text.present? %>
    <%= simple_format(@package.post_text.truncate(150, separator: /\s/), class: 'pt-4 text-gray-700') %>
  <% end %>

  <% if @package.question_distribution.present? %>
    <p class="pt-4">
      <%= t('total_questions') %>: <%= @package.question_distribution[:total] %>
    </p>
    <% @package.question_distribution[:types].each do |type, count| %>
      <span class="mr-4 inline-block">
        <div class="<%= ApplicationHelper::TYPE_COLORS[type] %> w-4 h-4 inline-block bottom-0"></div>
        <span class="font-bold">
          <%= t type %>
        </span>
        <span class="text-gray-700">
          <%=
          number_to_percentage(
          count.to_f / @package.question_distribution[:total] * 100,
          precision: 0
          )
          %>
        </span>
      </span>
    <% end %>
  <% end %>
</div>
