<h1 class="text-2xl font-bold text-center">
  <%= render AuthorLinkComponent.new(author:, author_itemprop: false) %>
</h1>

<p>
  <%= t('author_text', package_count: all_packages_count) %>
  <% if @other_authors.present? %>
    <br>
    <%= t('author_text_coauthors') %>
    <% @other_authors.each do |other| %>
      <%= render AuthorLinkComponent.new(author: other) %>
    <% end %>
  <% end %>
</p>

<h2 class="text-xl mb-2 mt-4 text-center">
  <%= t('author_show.downloads') %>
</h2>

<%= t('author_show.downloads_description') %>

<div class="pb-2">
  <%= line_chart plot_data,
   dataset: {
     tension: 0,
   }
  %>
</div>


<h2 class="text-xl mb-2 mt-4 text-center">
  <%= t('author_packages') %>
</h2>

<%= render PackagesPaginated::Component.new(packages: all_packages) %>
