<h1 class="text-2xl font-bold text-center">
  <%= render AuthorLinkComponent.new(author: @author) %>
</h1>

<p>
  <%= t('author_text', package_count: @package_count) %>
  <% if @other_authors.present? %>
    <br>
    <%= t('author_text_coauthors') %>
    <% @other_authors.each do |other| %>
      <%= render AuthorLinkComponent.new(author: other) %>
    <% end %>
  <% end %>
</p>

<h2 class="text-xl mb-2 mt-4 text-center">
  <%= t('author_packages') %>
</h2>

<%= render 'components/packages_table', packages: @packages %>
