<article
  class="w-full h-full border-solid border bg-white mb-4 flex flex-col"
  itemscope
  itemtype="http://schema.org/Article"
  itemprop="itemListElement"
  <%= @options && tag.attributes(@options) %>
>
  <meta itemprop="position" content="<%= @position %>">

  <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-9 xl:grid-cols-10 lg:grid-cols-10 md:grid-rows-[auto_1fr_auto]">
    <div class="col-span-12 md:row-span-3 md:col-span-1 lg:col-span-2 lg:col-span-3 xl:col-span-2 px-2 md:p-2 lg:border-r">
      <%= link_to @package do %>
        <%= render Packages::Logo::Component.new(package: @package) %>
      <% end %>
    </div>

    <div class="order-first lg:order-1 col-span-6 lg:col-span-5 xl:col-span-6 pt-2 px-2 mb-2">
      <%= render Packages::CardTitle::Component.new(package: @package, variant: :small) %>
    </div>

    <div class="order-3 col-span-6 lg:col-span-5 xl:col-span-6 px-2 mb-2"> <%# text %>
      <% if @package.earliest_post&.[]('text').present? %>
        <%= simple_format \
          @package.earliest_post['text'].truncate(150, separator: /\s/),
          itemprop: 'description'
        %>
      <% end %>

      <h2 class="text-xl">
        <%= t(:themes_by_rounds) %>
      </h2>
      <% @package.structure.each do |round| %>
        <%= round['name']&.strip %>:
        <span class="text-neutral-500">
          <%= round['themes'].pluck('name').reject(&:blank?).map(&:strip).join(', ') %>
        </span>
        <br>
      <% end %>
    </div>

    <div class="md:row-span-3 order-2 col-span-9 md:col-span-3 lg:col-span-2 px-2 md:pr-2 lg:pt-2"> <!-- distribution -->
      <%= render Packages::Distributions::Component.new \
        package: @package,
        class: 'w-full'
      %>
    </div>
  </div>

  <div class="border-t flex h-10 md:h-14"><%# specify height to avoid layout shift %>
    <% if @package.vk_download_url %>
      <%= link_to package_direct_play_path(@package),
        target: '_blank',
        class: 'flex w-fit font-bold px-2 md:px-4 hover:bg-gray-100 items-center' \
        do
      %>
        <%= heroicon 'play-circle', options: { class: 'h-6 mr-1 inline' } %>
        <%= t('direct_play') %>
      <% end %>
      <%= link_to package_direct_download_path(@package),
        target: '_blank',
        class: "flex w-fit font-bold px-2 md:px-4 hover:bg-gray-100 items-center" \
        do
      %>
        <%= heroicon "document-arrow-down", options: { class: "h-6 mr-1 inline" } %>
        <%= t('link') %>
        (
        <span id="<%= dom_id(@package, :download_count) %>">
          <%= @package.download_count %>
        </span>
        )
      <% end %>
    <% end %>
    <%= render BookmarkButton::Component.new \
      class: 'ml-auto flex w-fit font-bold px-2 md:px-4 hover:bg-gray-100 items-center cursor-pointer',
      package_id: @package.id,
      thin: true
    %>
  </div>
</article>
