<article
  class="w-full h-full border-solid border bg-white flex flex-col"
  itemscope
  itemtype="http://schema.org/Article"
  itemprop="itemListElement"
>
  <div class="p-2">
    <meta itemprop="position" content="<%= @position %>">
    <h2 class="py-1">
      <% (@package.authors || []).each do |author| %>
        <span class="pr-2">
          <%= render AuthorLinkComponent.new(author: author) %>
        </span>
      <% end %>
      <%= time_tag @package.published_at.to_date, class: 'inline-block', itemprop: 'datePublished' %>
    </h2>

    <h1 class="text-xl font-bold" itemprop="name headline">
      <%= link_to @package.name, @package, itemprop: 'url' %>
    </h1>

    <div class="pt-2">
      <%= render KeywordLinksComponent.new(tags: @package.tags || [], categories: @package.categories || {}) %>
    </div>

    <p class="pt-4 text-gray-700">
      <% if @package.post_text.present? %>
        <%= simple_format(@package.post_text.truncate(150, separator: /\s/), itemprop: 'description') %>
      <% else %>
        <%= simple_format(helpers.package_description(@package, true), itemprop: 'description') %>
      <% end %>
    </p>

    <% if @package.question_distribution.present? %>
      <p class="pt-4">
        <%= t('total_questions') %>: <%= @package.question_distribution[:total] %>
      </p>
      <% @package.question_distribution[:types].each do |type, count| %>
        <span class="mr-4 inline-block">
          <div class="<%= ApplicationHelper::TYPE_COLORS[type] %> w-4 h-4 inline-block bottom-0"></div>
          <span class="font-bold">
            <%= t type %>
          </span>
          <span class="text-gray-700">
            <%=
            number_to_percentage(
            count.to_f / @package.question_distribution[:total] * 100,
            precision: 0
            )
            %>
          </span>
        </span>
      <% end %>
    <% end %>
  </div>
  <div class="border-t divide-x flex">
    <% if @package.vk_download_url %>
      <%= link_to package_direct_download_path(@package),
       target: '_blank',
       class: "flex w-fit font-bold px-4 py-4 hover:bg-gray-100 items-center" \
       do
      %>
        <%= heroicon "document-download", options: { class: "h-6 mr-2 inline" } %>
        <span id="<%= dom_id(@package, :download_count) %>">
          <%= @package.download_count %>
        </span>
      <% end %>
    <% end %>
    <%= link_to t('source'), @package.source_link, target: '_blank',
     class: "flex font-bold px-4 py-4 hover:bg-gray-100 items-center" %>
  </div>
</article>
