<h1 class="text-2xl font-bold text-center pb-2">
  <%= t(:categories_page_title) %>
</h1>

<%= t(:categories_index_short_description) %>

<table class="w-full mt-2 mb-2">
  <thead>
    <tr class="bg-indigo-600 text-white">
      <th class="text-center py-4 px-3"><%= t('category') %></th>
      <th class="text-center py-4 px-3"><%= t('package_count') %></th>
    </tr>
  </thead>
  <% @categories.each do |c| %>
    <tr class="odd:bg-white even:bg-indigo-50">
      <td class="pl-4 py-2">
        <%= link_to category_path(c.first) do %>
          <span class="font-bold">
            <%= t(:name, scope: [:categories, c.first], default: c.first) %>
          </span>
          <p>
            <%= t(:description, scope: [:categories, c.first], default: '') %>
          </p>
        <% end %>
      </td>
      <td class="text-center">
        <%= c.last %>
      </td>
    </tr>
  <% end %>
</table>

<div class="w-full bg-white border-indigo-600 border-4 p-2 mt-4">
  <%= render "index_text_#{I18n.locale}" %>
</div>
