<!DOCTYPE html>
<html lang="<%= I18n.locale %>">
  <head>
    <title>Sibrowser</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>

    <!-- favicons from https://realfavicongenerator.net -->
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/site.webmanifest">
    <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#5bbad5">
    <meta name="msapplication-TileColor" content="#000038">
    <meta name="theme-color" content="#ffffff">
    <%= stylesheet_pack_tag "application", "data-turbo-track": "reload" %>
  </head>

  <body class="bg-indigo-300 text-black-20 min-h-screen flex flex-col justify-between">
    <header class="px-4 flex justify-between h-16 bg-indigo-800 text-white font-bold items-center">
      <%= link_to 'Sibrowser', root_path %>
      <ul class="flex gap-6 md:gap-10 md:mr-4">
        <% Languages.each do |(name, code)| %>
          <% if code != I18n.locale %>
            <li>
              <% if code != I18n.default_locale %>
                <%= link_to name, locale: code %>
              <% else %>
                <%= link_to name, locale: nil %>
              <% end %>
            </li>
            <% end %>
        <% end %>
      </ul>
    </header>
    <main class="mb-auto">
      <div class="md:container mx-auto bg-indigo-100 p-2 pt-4 md:my-4 md:px-4">
        <%= yield %>
      </div>
    </main>
    <footer>
      <div class="px-4 md:mt-4 flex flex-col justify-center items-center bg-white min-h-16 bg-indigo-800 text-white gap-4 py-4">
        <span class="text-center" class="block">
          <%= t('made_by') %>
          <a href="https://imustafin.tatar/<%= I18n.locale %>" class="font-bold">
            <%= t('ilgiz') %>
          </a>
        </span>
        <p class="flex flex-col md:flex-row justify-center items-center gap-4 flex-wrap">
          <a href="https://vk.com/sibrowser" class="block font-bold"><%= t('community_vk') %></a>
          <a href="https://github.com/imustafin/sibrowser" class="block font-bold"><%= t('source_code') %></a>
          <a href="https://github.com/imustafin/sibrowser/projects/1" class="block font-bold"><%= t('roadmap') %></a>
        </p>
      </div>
    </footer>
  </body>
</html>
