<!DOCTYPE html>
<html>
  <head>
    <title>Sibrowser</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>

    <!-- favicons from https://realfavicongenerator.net -->
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/site.webmanifest">
    <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#5bbad5">
    <meta name="msapplication-TileColor" content="#000038">
    <meta name="theme-color" content="#ffffff">
    <%= stylesheet_pack_tag "application", "data-turbo-track": "reload" %>
  </head>

  <body class="bg-indigo-300 text-black-20 min-h-screen flex flex-col justify-between">
    <header class="px-4 flex justify-between h-16 bg-indigo-800 text-white">
      <ul class="flex items-center font-bold">
        <%= link_to 'Sibrowser', root_path %>
      </ul>
    </header>
    <main class="mb-auto">
      <%= yield %>
    </main>
    <footer>
      <div class="px-4 mt-12 flex justify-center items-center bg-white h-16 bg-indigo-800 text-white">
        <span>
          Made by <a href="https://imustafin.tatar/en" class="font-bold">Ilgiz Mustafin</a>
        </span>
      </div>
    </footer>
  </body>
</html>
