<!DOCTYPE html>
<html lang="<%= I18n.locale %>">
  <head>
    <%= display_meta_tags(
          site: t('site_name'),
          title: t('default_title'),
          description: t('default_description'),
          reverse: true,
          alternate: Languages.map do |(name, code)|
            [code, url_for(request.query_parameters.merge(locale: code == I18n.default_locale ? nil : code, only_path: false))]
          end.to_h
    )
    %>

    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>

    <!-- favicons from https://realfavicongenerator.net -->
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/site.webmanifest">
    <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#5bbad5">
    <meta name="msapplication-TileColor" content="#000038">
    <meta name="theme-color" content="#ffffff">
    <%= stylesheet_pack_tag "application", "data-turbo-track": "reload" %>

    <% if ENV['YANDEX_VERIFICATION'] %>
      <meta name="yandex-verification" content="<%= ENV['YANDEX_VERIFICATION'] %>">
    <% end %>
  </head>

  <body class="bg-indigo-300 text-black-20 min-h-screen flex flex-col justify-between">
    <header class="px-2 sm:px-4 flex min-h-full bg-indigo-800 text-white font-bold items-center flex-wrap pt-4">
      <div class="flex space-x-2 sm:space-x-8 items-center pb-4">
        <%= link_to t(:site_name), root_path, class: 'font-black font-mono' %>
        <%= link_to t(:authors), authors_path %>
        <%= link_to t(:tags), tags_path %>
        <%= link_to t(:categories), categories_path %>
        <% if admin? %>
          <%= button_to "Logout", logout_path, method: :post, class: 'bg-red-700' %>
        <% end %>
      </div>
      <%= form_tag(packages_path, method: :get, class: 'inline-block flex w-full flex-grow md:flex-grow-0 lg:w-1/3 ml-auto pb-4') do %>
        <%= text_field_tag(:q, params[:q], class: 'p-2 text-black w-full') %>
        <%= submit_tag(t('search'), name: nil, class: button_class(type: :small)) %>
      <% end %>
    </header>
    <main class="mb-auto">
      <div class="md:container mx-auto bg-indigo-100 p-2 pt-4 md:my-4 md:px-4">
        <%= yield %>
      </div>
    </main>
    <footer>
      <div class="px-4 md:mt-4 flex flex-col justify-center items-center bg-white min-h-16 bg-indigo-800 text-white gap-4 py-4">
        <span class="block">
          <%= t('made_by') %>
          <a href="https://imustafin.tatar/<%= I18n.locale %>" class="font-bold">
            <%= t('ilgiz') %>
          </a>
        </span>
        <p class="flex flex-col md:flex-row justify-center items-center space-x-4 flex-wrap">
          <a href="https://vk.com/sibrowser" class="block font-bold"><%= t('community_vk') %></a>
          <a href="https://github.com/imustafin/sibrowser" class="block font-bold"><%= t('source_code') %></a>
          <a href="https://github.com/imustafin/sibrowser/projects/1" class="block font-bold"><%= t('roadmap') %></a>
        </p>
        <ul class="flex space-x-4">
          <% Languages.each do |(name, code)| %>
            <% if code != I18n.locale %>
              <li>
                <% if code != I18n.default_locale %>
                  <%= link_to name, request.query_parameters.merge(locale: code), class: 'font-bold' %>
                <% else %>
                  <%= link_to name, request.query_parameters.merge(locale: nil), class: 'font-bold' %>
                <% end %>
              </li>
            <% end %>
          <% end %>
        </ul>
      </div>
    </footer>
  </body>
</html>
